<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/">HOME</a> |
        <a href="/playlists">MY PLAYLISTS</a> |
        <a href="/playlists/new">CREATE PLAYLIST</a>
    </nav>
    <header>
    <h1><%= title %></h1>
    </header>
<main>