</main>
<footer class="credits-container">
    <p class="credits-title">Acknowledgements</p>
    <ul class="credits">
    <li>BeatBuddy Logo: <a href="https://hotpot.ai/art-generator" target="_blank" title="beatbuddy-logo">Hotpot AI Image Generator</a></li>
    <li>Song Data: <a href="https://www.last.fm/api" target="_blank" title="last.fm-api">Last.fm API</a></li>
    </ul>
  </footer>
</body>
</html>