:root {
  --black: #01020d;
  --dark-purple: #7a688b;
  --light-purple: #b8aac5;
  --dark-green: #24777d;
  --bright-green: #70eacc;
  --light-green: #dbf2e1;
  --light-pink: #e5d4d1;
  --gradient: linear-gradient(to right, #24777d, #b8aac5, #7a688b);
  --background-gradient: linear-gradient(
    180deg,
    #7941ad 0%,
    #e5d4d1 15%,
    #b8aac5 25%,
    #7a688b 100%
  );
  --open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background:  var(--background-gradient);
  padding-left: 50px;
  padding-right: 50px;
  font: 14px var(--open-sans);
  min-height: 100vh;
}

header {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-height: 100px;
}

th,
td {
  padding: 10px;
  border: 1px solid;
}

th {
  text-transform: uppercase;
}

label {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

nav {
  background: var(--dark-green);
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}

.left-nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
  margin-right: 20px; /* left-nav spacing between menu items */
}

.left-nav a:hover,
.right-nav a:hover {
  background: var(--light-green);
  border-radius: 10px;
  color: var(--black);
}

.right-nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.google-user-nav {
  border-radius: 50%;
  height: 45px;
  margin-right: 10px;
}

#title-header {
  color: var(--black);
  text-align: center;
  font-size: 50px;
  font-family: "Abril Fatface", serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  text-align: center;
}

.table-container,
#create-form,
#edit-form {
  padding: 20px;
  background-color: var(--light-green);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-form {
  width: 400px;
}

/* select {
  margin: 0;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
} */

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--dark-green);
  padding: 10px;
  font: var(--open-sans);
  font-size: 18px;
}

.search-input {
  /* width: 50%; */
  border-radius: 10px;
  border: 1px solid var(--dark-green);
  padding: 10px;
  font: var(--open-sans);
  font-size: 18px;
}

/* button styling */

button,
.btn-link {
  background-color: var(--dark-green);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

button {
  border-width: 0;
}

.btn-link {
  text-decoration: none;
}

.btn-add {
  background-color: var(--bright-green);
  color: var(--black);
}

.btn-edit {
  background-color: var(--dark-purple);
}

.btn-delete {
  background-color: red;
}

.btn-lg {
  font-size: 18px;
}

button:hover,
.btn-link:hover {
  background-color: darkcyan; /* Darker color on hover */
}

.btn-add:hover {
  background-color: green;
}

.btn-edit:hover {
  background-color: darkmagenta;
}

.btn-delete:hover {
  background-color: maroon;
}

/* .selector:hover {
  cursor: pointer;
  background-color: white;
} */

.login img {
  height: 30px;
}

.google-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-user img {
  border-radius: 50%;
  height: 40px;
}

.logo {
  height: 68px;
  margin-right: 10px;
}

.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

/* .filter-label {
  margin: 10px;
  font-size: 12px;
} */

.filter-dropdown {
  margin-right: 10px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
}

.credits-container {
  display: flex;
  flex-direction: column;
  margin-top: 65%;
}

.credits-title {
  text-decoration: underline;
}

.credits {
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.search-form {
  display: flex;
  align-items: center;
}