* {
  box-sizing: border-box;
}
body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
}

label {
  display: block;
  font-weight: bold;
}

nav {
  background: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display:flex;
  align-items: center;
}

.left-nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
  margin-right: 20px; /* left-nav spacing between menu items */
}

.left-nav a:hover {
  background: gray;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav a{
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.right-nav a:hover{
  background:gray;
}

.google-user-nav {
  border-radius: 50%;
  height: 30px;
  margin-right: 10px;
}

#delete-button {
  color: red;
}

#title-header {
  text-align: center;
  font-size: 50px;
  font-family: 'Abril Fatface', serif;
}

.table-container,
#create-form,
#edit-form {
  text-align: center;
  padding: 20px;
  background-color: rgb(240, 235, 223);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 850px;
}



#create-button, 
#edit-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

#create-button:hover,
#edit-button:hover {
  background-color: #555; /* Darker color on hover */
}



.selector:hover {
  cursor: pointer;
  background-color: white;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
} */

.login img {
  height: 30px;
}

.google-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-user img {
  border-radius: 50%;
  height: 40px;
}

