<%- include('../partials/header') %>
<form method = "GET" action = "/playlists/<%=playlist.id%>">
    <input name = 'query' required placeholder="track">
    <button type ='submit'>Search song</button>
    </form>



<%- include('../partials/footer') %>